body {
    background-color: #292725;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: left;
    font-size: 50px;
    color: #d8d8d8;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: #d8d8d8;
}

h3 {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    color: #d8d8d8;
}

#banner {
    width: 100%;
    height: 175px;
    background-image: url('../data/mtns.png');
    background-size: cover;
    background-position: center;
}

h1.title {
    color: #383533;
    width: 100%;
    padding: 10px 0px 0px 10px;
}

div#station-climo-div {
    text-align: center;
}

div#utah-map-div {
    text-align: center;
}

/** used to allow the DIVs to be next to one another */ 
.row { 
    display: flex;
    flex-wrap: wrap;
}

.climo {
    flex: 60%;
}

.map {
    flex: 30%;
}

#utah-map-svg {
    border: 2px solid black;
}

.tick {
    font-size: 16px;
}

/** for the climo temperature  */ 
circle.temp {
    fill: #e83f3f;
    stroke: #dfe8e9;
}

circle.temp.hover {
    fill: #e29393;
    stroke: #dfe8e9;
}

rect.precip {
    fill: #2b57cf;
    stroke: #dfe8e9;
}

rect.precip.hover {
    fill: #a1d3f5;
    stroke: #dfe8e9;
}

/** for the climo temperature  */ 
path.temp {
    fill: none;
    stroke: #e83f3f;
    stroke-width: 5;
}

path.gsl {
    fill: none;
    stroke: #d8d8d8;
    stroke-width: 5;
}

line.gsl {
    fill: none;
    stroke: #d8d8d8;
    stroke-width: 5;
}

g.temp {
    stroke: #f3b7b7;
    color: #f3b7b7;
    letter-spacing: 2px;
}

g.precip {
    stroke: #a1d3f5;
    color: #a1d3f5;
    letter-spacing: 2px;
}

g.x-axis {
    color: #d8d8d8;
    stroke: #d8d8d8;
    letter-spacing: 2.5px;
}

text.temp {
    fill: #f3b7b7;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

text.precip {
    fill: #a1d3f5;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

text.x-axis {
    fill: #d8d8d8;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

text#label-text {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    fill: #292725;
    font-weight: bold;

}

rect#label-rect {
    fill:#d8d8d8;
    stroke: #292725;
    
}


