body {
    background-color:rgb(226, 226, 226);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    
}


h1.title {
    color: white;
    background-color: dodgerblue;
    width: 100%;
    padding: 25px 0px 25px 0px;
}

/** used to allow the DIVs to be next to one another */ 
.row { 
    display: flex;
    flex-wrap: wrap;
}


#utah-map-svg {
    border: 2px solid black
}

